InkaBackend/src/main/resources/almacenes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://cibertec.pe/inkaproductos/soap"
           targetNamespace="http://cibertec.pe/inkaproductos/soap"
           elementFormDefault="qualified">

    <xs:element name="GetAlmacenRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAlmacenResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="almacen" type="tns:AlmacenSOAP"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="AlmacenSOAP">
        <xs:sequence>
            <xs:element name="almacenId" type="xs:int"/>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="ciudad" type="xs:string"/>
            <xs:element name="direccion" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>